.mainnav ul li{
  list-style-type: none;
}

.mainnav {
  float: right;
}

.mainnav ul{
  display: flex;
}

.mainnav ul li a {
  font-size: 24px;
  font-weight: bold;
  color: cyan;
  margin: 10px;
}

.clearingdiv {
  clear:both;
}

.rentalsmain {
  background: pink;
  display: flex;
}

.searchrentalsdiv {
  width: 20%;
  background: orange;
  height: 100vh;
}

.listingdiv {
  width: 75%;
  background: green;
}
