/*.mainnav ul li{
  list-style-type: none;
}

.mainnav {
  float: right;
}

.mainnav ul{
  display: flex;
}

.mainnav ul li a {
  font-size: 24px;
  font-weight: bold;
  color: cyan;
  margin: 10px;
}*/

body, html {
  height: 100%;
  margin: 0px;
  line-height: 1.8em;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.clearingdiv {
  clear:both;
}

@media only screen and (max-width: 500px) {

  .singlecomp button {
    margin-bottom: 5px;
  }
  
  footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;  
  }

  form {
    background: lightblue;
  }
  .rentalfeatures {
    flex-wrap: wrap;
  }
}

.mainappdiv {
  height: 100vh;
}

.rentalsmain {
  /* background: pink; */
  display: flex;
}

.searchrentalsdiv {
  width: 20%;
  background: orange;
  height: 100vh;
  /*position: fixed;*/
}

.listingdiv {
  width: 75%;
  /* background: green; */
}

.singlecomp {
  border-bottom: 5px black solid;
  margin : 30px 0px 30px 0px;
  padding: 10px;
  line-height: 250%;
  font-size: 20px;
}

/*.singlecomp:hover {
  font-size: 50px;
}*/

.singlecomp .titleclass {
  font-style: italic;
  font-weight: bolder;
  font-size: 32px;
}

.singlecomp .descriptionclass {
  font-size: 24px;
}

.singlecomp img {
  max-width: 320px;
  height: 240px;
}

.singlecomp li {
  list-style-type: none;
}

.rentalicons {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin: 0 auto;
}

.rentalfeatures {
  width: 100%;
  /* display: flex; */
  justify-content: space-between;
}
.rentalfeatures li {
  /* display: flex; */
}

.parallaxdiv1 {
  background-image: url('./imagefolder/newyorkimage.jpg');
  min-height: 100%;
}

.parallaxdiv2 {
  background-image: url('./imagefolder/losangeles.jpg');
}

.parallaxdiv3 {
  background-image: url('./imagefolder/miami.jpg');
}
.parallaxdiv1, .parallaxdiv2, .parallaxdiv3 {
  background-position: center;
  background-size: cover;
  position: relative;
  opacity: 0.80;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
  text-align: center;
}

.parallaxdiv1 * , .parallaxdiv2 * , .parallaxdiv3 * {
  color: #85EAFF;
  font-size: 25px;
  font-weight: bolder;
  background: #301130;
  display: inline-block;
}
.sectiondiv {
  text-align: center;
}

.singlecomp img, .mainsingleid img {
  width: 100%;
}

.mainsingleid {
  list-style-type: none;
}

.rentalbackground {
  width: 100%;
}

.mainrentalsbutton {
  font-size: 30px;
  /* display: inline-block; */
}

.fa-building-o {
  /* display: inline-block; */
  font-size: 200px;
  background: yellow;
}

.rentalsbuttonsdiv {
  text-align:center;
}

.fa-building-o:hover {
  color: yellow;
  background: grey;
  transition: 0.5s;
}

.mainheader {
  text-align: center;
}

.mainsingleid {
  font-size: 24px;
  padding: 20px;
  line-height: 200%;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.mainsingleid .titleclass {
  font-style: italic;
  font-weight: bolder;
  font-size: 32px;
}

.mainsingleid .descriptionclass {
  font-size: 24px;
}

.mainsingleid img {
 max-width: 80%;
 text-align: center;
 margin: 0 auto;
 display: block;
}

.contactdiv {
  /* text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh; */
  margin: auto;
  width: 80%;
  text-align: center;
}

.contactform {
  text-align: center;
}

.contactform * {
  margin: 0px 0px 20px 0px;
}

footer {
  background: black;
  position: relative;
  bottom: 0px;
}

footer ul li {
  list-style-type: none;
  font-size: 28px;
}

footer ul li a:hover {
  color: white;
  font-size: 30px;
  transition: 1s;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer h2 {
  color: white;
  text-align: center;
}

.singlebuttons * {
  text-align: center;
}

.singlebuttons a {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.listingdiv button {
  margin: 0 auto;
  display: block;
}

