/*.mainnav ul li{
  list-style-type: none;
}

.mainnav {
  float: right;
}

.mainnav ul{
  display: flex;
}

.mainnav ul li a {
  font-size: 24px;
  font-weight: bold;
  color: cyan;
  margin: 10px;
}*/

.clearingdiv {
  clear:both;
}

.rentalsmain {
  background: pink;
  display: flex;
}

.searchrentalsdiv {
  width: 20%;
  background: orange;
  height: 100vh;
  /*position: fixed;*/
}

.listingdiv {
  width: 75%;
  background: green;
}

.singlecomp {
  border: 5px black solid;
}

/*.singlecomp:hover {
  font-size: 50px;
}*/

.singlecomp li {
  list-style-type: none;
}

body, html {
  height: 100%;
  margin: 0px;
  line-height: 1.8em;
}

.parallaxdiv1 {
  background-image: url('./imagefolder/newyorkimage.jpg');
  min-height: 100%;
}

.parallaxdiv2 {
  background-image: url('./imagefolder/losangeles.jpg');
}

.parallaxdiv3 {
  background-image: url('./imagefolder/miami.jpg');
}
.parallaxdiv1, .parallaxdiv2, .parallaxdiv3 {
  background-position: center;
  background-size: cover;
  position: relative;
  opacity: 0.80;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
  text-align: center;
}

.sectiondiv {
  text-align: center;
}

.singlecomp img, .mainsingleid img {
  width: 100%;
}

.mainsingleid {
  list-style-type: none;
}

.rentalbackground {
  width: 100%;
}